.barra-sopra{
    height: 19vh;
    background-image: url("../img/pattern.png");
    background-color: rgba(47, 147, 241, 0.633);
    position: relative;
}

header > img{
    width: 400px;
    position: absolute;
    bottom: 0;
}

h1{
    font-size: 70px;
    margin-top: 20px;
}

.testo-grigio{
    color: gray;
}

.testo-celeste{
    color: #0d95da;
}

.testo-ingrandito{
    font-size: 35px;
}

section > img{
    margin-top: 30px;
    margin-bottom: 5px;
    width: 48%;
    height: 500px;
}

.sfondo-giallo{
    background-color: yellow;
}

.riga-azzurra{
    background-color: #0d95da;
    color: white;
    height: 2vh;
    border: 1px solid black;
}

.riga-celeste{
    background-color: #a6defa;
    height: 6vh;
    border: 1px solid black;
}

.riga-bianca{
    height: 6vh;
    border: 1px solid black;
}

.cella{
    width: calc(100% / 3 )
    
}

.sinistra{
    float: left;
}

.centro{
    float: left;
}

.destra{
    float: left;
}

main{
    margin: 5px;
}

/* .sezione4{
    height: 70vh;
} */





*{
    margin: 0;
    box-sizing: border-box;

}