.barra-sopra{
    background-image: url("../img/pattern.png");
    background-color: rgba(47, 147, 241, 0.633);
    background-size: 50vh;
   
}

header > img{
    width: 50vh;
}

h1{
    font-size: 70px;
    margin-top: 20px;
}

.testo-grigio{
    color: gray;
}

.testo-celeste{
    color: #0d95da;
}

.testo-ingrandito{
    font-size: 35px;
}

.sfondo-giallo{
    background-color: yellow;
}



main{
    margin: 5px;
}


*{
    margin: 0;
    box-sizing: border-box;

}

thead{
    background-color:rgb(32, 169, 229);
    color: white;
}


.odd-row{
    background-color: rgb(177, 229, 242);
}

.even-row{
    background-color: white;
}

th{
    width: 23%;
    text-align: left;
}

.main-text{
    width: 50%;
}